.index{
    color: rgb(234, 253, 89);
    padding: 0.1% 8% 0.1%;
    text-decoration: none;
    font-size: 95%;
    font-family: monospace;
    text-align: center;
    background-color: transparent
};